<h1>Read / Import Excel file in ANGULAR</h1>
<br />
<input type="file" (change)="ReadExcel($event)" />

<table class="">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Job Title</th>
      <th>Email</th>
      <th>Quote</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of ExcelData">
      <td>{{ employee.FullName }}</td>
      <td>{{ employee.JobTitle }}</td>
      <td>{{ employee.Email }}</td>
      <td>{{ employee.Quote }}</td>
      <td>{{ employee.IsMale ? "Nam" : "Nữ" }}</td>
    </tr>
  </tbody>
</table>
