<h1>Read / Import Excel file in ANGULAR</h1>
<br />
<input type="file" (change)="ReadExcel($event)" />

<table class="table">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Job Title</th>
      <th>Email</th>
      <th>Bio</th>
      <th>Gender</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of ExcelData">
      <td>{{ employee.FullName }}</td>
      <td>{{ employee.JobTitle }}</td>
      <td>{{ employee.Email }}</td>
      <td>{{ employee.Bio }}</td>
      <td>{{ employee.IsMale ? "Male" : "Female" }}</td>
      <td>
        <input type="file" (change)="uploadImage($event, employee)" />
      </td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary" (click)="SendMail()">Send Mail</button>
