table {
  margin: 0 auto;
  width: 70%;
  border-collapse: collapse;
  border-radius: 5px;
}

th,
td {
  text-align: center;
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.table-striped tr:nth-child(even) {
  background-color: #f8f8f8;
}
